
body{
  /*background: transparent url(images/background.png) repeat-x;*/
  background-color:#FFF;
  margin:0;
}

/*  if you want the wrapper to hold the width instead of the header
  * and content areas uncomment below lines and remove width from
  *  said containers
*/

#wrapper {
  /*width:  817px;
  margin:  0px auto;	
  padding: 0px;
  padding: 7px 0 0 0;*/
  font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  /* Use a 12px base font size with a 16px line height */
  font-size: 0.75em; /* 16px x .75 = 12px */
  line-height: 1.333em; /* 12px x 1.333 = 16px */
}

/* 
 * Override generic html 
*/

a {
  color: #99cc66;
  text-decoration: none;
  outline: none;
}

a.visited {
  color: #99cc66;
}

input.form-text{
  border:1px solid #333;
  font-size:110%;
  padding:3px;
}



/* 
 * Override drupal system.css 
*/

.item-list ul li {
  list-style-type: none;
}

ul.links {
  margin: .3em 0;
}

.block ul {
  padding:0;
}


/* 
 * Reusable classes
*/

.clear{clear:both;}
.strong{font-weight: bold;}
.left{float:left;}
.right{float:right;}
.none{float:none;}


/* end generic; all sap elements must have margin-left and with defined */


#title {
  /*margin-left: -80%;*/
  width: 65%;
}

#logo {
  position: absolute;
}


/* 
 *  Layout
*/

#main #sidebar-left {
  width: 200px;
  float: left;
  border-right: 4px solid #000;
}

#main #main-content {
  /*margin-left: -100%;*/
  color: #444;
  /*float:right;
  width: 600px;*/
  /*border: 5px solid #f8f8f8;/*1px dotted #CCC;*/
  background-color:#fff;
  float:left;
  width: 570px;/*500px;*/
  margin: 20px 0 0 20px;
  padding: 10px 20px;
}

.no-sidebars #main #main-content {
  width: 770px;/*500px;*/
}

#main {
  /*margin-left: -100%;*/
  width: 850px;
  clear:both;
  overflow: auto;
  margin: 0 auto;
  padding: 20px 0;
}

#main #sidebar-right {
  /*margin-left:  -150px;*/
  width: 200px;
  float: right;
}

#header{
  overflow:hidden;/*auto;*/
  margin:0 auto;
  width: 850px;/*817px;*/
  padding:15px 0 0;	
}

/* 
 *  Blocks
*/

.sidebar div.block {
  padding:10px;
  margin-bottom:15px;
  overflow:hidden;
}

/* 
 *  Search form
*/

#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; /* LTR */
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}


/* 
 *  Buttons
*/

input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; /* LTR */
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* 
 *  Footer
*/
#footer {
  /*margin-left: -100%;*/
  clear:both;
  width: 100%;
  text-align: center;
  background-color: #efefef;
  color: #999;
  font-size: 0.9em;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
  line-height:5em;
  margin:30px 0 40px;

}

/* 
 *  Primary navigation
*/

#navigation {
  text-align: center;
  font-size: 150%;
}
ul.primary-links{
  margin: 15px 50px 0; 
  padding: 5px;
}
#navigation li {
  padding:0;
  display: inline;
  list-style-type: none;
  padding: 0px 0.5em;
}
#navigation a/* primary-nav links */
{
  margin: 0px;
  padding: 0 10px;
  /*background: #000;*/
  color: #000;
  /*float:right;
  padding:5px 10px;*/
  border-right:1px solid #669933;
  font-family:"Century Gothic",Helvetica,"Bitstream Vera Sans",sans-serif;
}

#navigation a:hover{text-decoration:underline;}
#navigation a.active{font-weight:bold;}
#navigation li.last a/* primary-nav links */
{
  border-right:none;
}

/* 
 *  Messages
*/
div.messages,
div.status,
div.warning,
div.error {
  background-color: #e8e8ff;
  background-image: url(images/status-info.png);
  /*background-position: 8px 0.33em;  LTR */
  background-position: 8px center; 
  background-repeat: no-repeat;
  color: #000;
  margin: 0 1em 5px 1em;
  min-height: 21px;
  padding: 0.25em 0.5em 0.25em 32px; /* LTR */
  border:none;
}

div.warning {
  background-color: #fcfca7;
  background-image: url(images/status-warning.png);
}

div.error {
  background-color: #fcc;
  background-image: url(images/status-error.png);
}

div.messages ul {
  margin-bottom: 0;
  margin-top: 0;
}

/* 
 *  Headers
*/

h1#site-name a{	
  font-family: "Century Gothic", Helvetica, "Bitstream Vera Sans", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #333333;
}

h1.title{
  font-size: 1.6em; 
  color: #272727; /*margin-top:-15px;*/
}

#front h2 a{
  color:#272727;
  font-size:1.2em;
}

h1, h2, h3{
  font-family:"Century Gothic",Helvetica,"Bitstream Vera Sans",sans-serif;
}

h1#site-name a{
  border-bottom:4px solid #000000;
  padding:20px 0;
  display:block;
  width: 848px;
  height: 50px;
  text-align: center;
}


h2#slogan{
  color: #99cc33;
  margin:27px 0 0 5px;
}

h2.teaser-title {
  margin:30px 0 10px;
  font-size:2em;
}
h2.teaser-title a {
  color: #000;
}

div.tabs{
  padding: 10px 0 0 0;
}

/* 
 *  Secondary menus
*/
#sidebar-left .block h2{
  font-family: "Century Gothic", Helvetica, "Bitstream Vera Sans", sans-serif;
  margin: 5px 0 15px 0;
  text-transform: uppercase;
  font-size: 1.2em;
}
.block .menu li a {
  /*background:#dbde97 url(images/arrow.png) no-repeat scroll 95% 50%;
  display:block;
  height:22px;
  padding:6px 15px 0 19px;
  width:157px;/*191px;*/
  /*color: #000;
  font-size: .9em;
  border-bottom: 1px solid #f7fae9;*/
}
.block .menu li a:hover, .block .menu li a.active {
  /*background:#748d00 url(images/arrow-active.png) no-repeat scroll 95% 50%;
  color: #FFF;
  /*display:block;
  height:28px;
  padding:8px 15px 0 5px;
  width:171px;/*191px;*/
}

.block .menu li, .block ul.menu{
  list-style: none;
}


.block .menu li{
	/*margin: 0;*/
}

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; /* LTR */
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
input {
  margin: 2px 0;
  padding: 4px;
}
input,
textarea {
  font-size: 0.929em;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.password-suggestions ul li {
  margin-left: 1.2em; /* LTR */
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px; /* LTR */
}
html.js input.throbbing {
  background-position: 100% -16px; /* LTR */
}

/* 
 *  Front
*/


input#edit-search-theme-form-keys {
  border: 1px solid #b9bcab;
}
#search-block-form input#edit-submit, #search-block-form .form-item{
  margin: 3px 0 0 5px;
  float:left;
}

/* 
 *  Content Styling
*/

#main-content .content ul li{
  list-style:none;
  background:url(images/bullet.png) no-repeat 0 0.4em;
  padding: 0 0 .2em 1.5em;
  font-weight: bold;
  font-family: Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}

#main-content .content ul li a{color: #531a1b;}
#front #main-content .content ul li{
  background:url(images/bullet.png) no-repeat 0 0.8em;
}

#main-content .content ul{
	margin:1.5em 0;
	padding-left:2.5em;
}

div.terms{
	margin: 15px 0;
}

/* 
 *  Node
*/
#main-content .node{
  border-bottom:1px solid #EFEFEF;
  margin:0 0 20px;
  padding:0 0 30px;
}

.node .post-date{
	padding: 0 0 20px 0;
}

/* 
 *  Comments
*/	
#commentblock {
  width: 450px;
  background: #E8E8E8;
  color: #000000;
  float: left;
  padding: 20px 20px 10px 20px;
  margin: 10px 0px 0px 0px;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
}
	
#commentblock ol{
  list-style-type: square;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
}

.commentdate {
  font-size: 12px;
  padding-left: 0px;
}

#commentlist li p{
  margin-bottom: 8px;
  line-height: 20px;
  padding: 0px;
}

.commentname {
  color: #333333;
  margin: 0px;
  padding: 5px 5px 5px 0px;
}

.commentinfo{
  clear: both;
}

.commenttext {
  clear: both;
  margin: 3px 0px 20px 0px;
  padding: 20px 10px 5px 10px;
  width: 390px;
  background: #E8E8E8 url(images/comment.gif) no-repeat top;
  -moz-border-radius-bottomleft:10px;
  -moz-border-radius-bottomright:10px;
  -webkit-border-radius: 10px;
}

.commenttext-admin {
  clear: both;
  margin: 3px 0px 20px 0px;
  padding: 20px 10px 5px 10px;
  width: 390px;
  background: #FFFFFF url(images/comment.gif) no-repeat top;
}

#commentsformheader{
  padding-left: 0px;
  }

#commentsform{
  text-align: center;
  margin: 0px;
  padding: 0px;
}

#commentsform form{
  text-align: left;
  margin: 0px;
}

#commentsform p{
  margin: 0px;
}

#commentsform form textarea{
  width: 99%;
}
	
p.comments_link  img{
  margin: 0px;
  padding: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}

